/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  /* background-color: #1e1e20; */
  background: #121212;
}

.cont {
  background-image: url("./img/waall.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
