.div-footer {
  padding: 50px 50px;
}

.footer-div {
  /* padding-bottom: 70px; */
  width: 500px;
}

.footer-div h2 {
  padding: 3px 0px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.div-footer p {
  color: #bcbcbc;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.footer-flex {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  gap: 150px;
  padding-bottom: 50px;
}

.comm p:hover {
  color: aliceblue;
  cursor: pointer;
}

.support p:hover {
  color: aliceblue;
  cursor: pointer;
}

/* .comm {
  padding-bottom: 30px;
} */

.comm h4 {
  padding-bottom: 10px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.support h4 {
  padding-bottom: 10px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

/* .copy {
} */
