div.header {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: #000;
  background: rgb(5, 109, 78);
  background: linear-gradient(
    204deg,
    rgba(5, 109, 78, 1) 0%,
    rgba(0, 40, 27, 1) 0%,
    rgba(18, 18, 18, 1) 29%,
    rgba(18, 18, 18, 1) 100%,
    rgba(33, 32, 50, 1) 100%,
    rgba(60, 59, 70, 1) 100%
  );
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* margin-top: 80px; */
  padding: 80px 100px;
  text-align: center;
}

.header-text {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  flex-direction: column;
}

.heading {
  color: aliceblue;
  font-size: 68px;
  font-family: "Montserrat", sans-serif;
  /* background: -webkit-linear-gradient(225deg, aliceblue, #aca7cb, #ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.heading span {
  background: -webkit-linear-gradient(225deg, #aca7cb, #b949b9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-heading {
  color: #797979;
  font-family: "poppins", sans-serif;
  font-size: 19px;
  font-weight: 500;
}

.quick-market {
  width: 45%;
  height: 100%;
  background: rgb(159, 15, 159);
  background: radial-gradient(
    circle,
    rgba(159, 15, 159, 0.4) 0%,
    rgba(18, 18, 18, 0) 56%
  );
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-direction: column;
  position: relative;
  padding: 0px 60px;
}

/* .quick-market {

  background: rgb(159, 15, 159);
  background: radial-gradient(
    circle,
    rgba(159, 15, 159, 0.4) 0%,
    rgba(18, 18, 18, 0) 56%
  );
} */
.header-coin-1 {
  width: 200px;
  /* background-color: #1e1e20; */
  background: rgba(0, 0, 0, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  font-family: "poppins", sans-serif;
  border-radius: 12px;
  margin: 10px 0px;
}

.header-coin-2 {
  width: 200px;
  /* background-color: #1e1e20; */
  background: rgba(0, 0, 0, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  font-family: "poppins", sans-serif;
  border-radius: 12px;
  margin: 10px 0px;
  position: absolute;
  right: 10%;
}

.header-coin-3 {
  width: 200px;
  /* background-color: #1e1e20; */
  background: rgba(0, 0, 0, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  font-family: "poppins", sans-serif;
  border-radius: 12px;
  margin: 10px 0px;
}

.header-coin-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px 20px;
}

.header-coin-content-cont {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 10px 0px;
}

.header-coin-1 .coin-name {
  height: 100%;
  color: #f7931a;
}

.header-coin-2 .coin-name {
  height: 100%;
  color: #878faf;
}

.header-coin-2 .coin-percent {
  height: 100%;
  color: red;
}

.header-coin-3 .coin-name {
  height: 100%;
  color: #009393;
}

.coin-chart {
  width: 30px;
}

.coin-price {
  color: #bcbcbc;
}

.coin-percent {
  color: green;
}
