div.header {
  height: 80vh;
  width: 100%;
  display: flex;

  /* background-color: #000;
  background: rgb(5, 109, 78);
  background: linear-gradient(
    204deg,
    rgba(5, 109, 78, 1) 0%,
    rgba(0, 40, 27, 1) 0%,
    rgba(18, 18, 18, 1) 29%,
    rgba(18, 18, 18, 1) 100%,
    rgba(33, 32, 50, 1) 100%,
    rgba(60, 59, 70, 1) 100%
  ); */
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* margin-top: 80px; */
  padding: 80px 100px;
  text-align: center;
}

.header-text {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  flex-direction: column;
}

.heading {
  color: aliceblue;
  font-size: 68px;
  font-family: "Montserrat", sans-serif;
  /* background: -webkit-linear-gradient(225deg, aliceblue, #aca7cb, #ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.heading span {
  background: -webkit-linear-gradient(225deg, #aca7cb, #b949b9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-heading {
  color: #797979;
  font-family: "poppins", sans-serif;
  font-size: 19px;
  font-weight: 500;
}

.quick-market {
  width: 45%;
  height: 100%;
  /* background: rgb(159, 15, 159);
  background: radial-gradient(
    circle,
    rgba(159, 15, 159, 0.4) 0%,
    rgba(18, 18, 18, 0) 56% */
  /* ); */
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-direction: column;
  position: relative;
  padding: 0px 60px;
}

.quick-market img {
  width: 400px;
}

/* .quick-market {

  background: rgb(159, 15, 159);
  background: radial-gradient(
    circle,
    rgba(159, 15, 159, 0.4) 0%,
    rgba(18, 18, 18, 0) 56%
  );
} */

/* .coin-percent {
  color: green;
} */
