nav {
  width: 100%;
  height: fit-content;
  background-color: #121212;
  padding: 0px 50px;
  margin: 0px;
  position: fixed;
  z-index: 1;
  /* border-bottom: 1px solid #1e1e20; */
}

.altLogo {
  width: 45px;
  height: auto;
  float: left;
  margin: 15px 0px;
}

.logo {
  float: left;
  /* letter-spacing: 1px; */
  margin: 25px 0px;
  padding-right: 30px;
  border-right: 1px solid #464362;
  cursor: pointer;
  color: #aca7cb;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
}

.logo span {
  color: #464362;
}

ul {
  list-style: none;
  color: #bcbcbc;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16.5px;
  display: inline;
  margin: 10px 10px;
}

ul.links {
  margin: 27px 0px;
  float: left;
  padding-left: 30px;
}

ul.page-features {
  float: right;
  margin: 27px 10px;
}

ul a.gear {
  margin: 0px 30px;
  width: 180px;
  position: relative;
}
.gear:hover {
  color: white;
}

ul a {
  color: #bcbcbc;
  text-decoration: none;
}

ul .dropdown {
  display: none;
  width: inherit;
  background-color: #464362;
  position: absolute;
  top: 45px;
  /* right: -10px; */
  padding: 10px 0px;
  border-radius: 10px;
}

ul.display {
  display: block;
}

.lang {
  /* margin: 10px 5px; */
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.mode {
  /* margin: 10px 5px; */
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.login {
  border: 1px solid #464364;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 8px;
}

.signup {
  /* border: 2px solid red; */
  border: 1px solid #464364;
  background-color: #464362;
  border-radius: 8px;
  font-size: 14px;
  margin: 0px 10px;
  padding: 5px 15px;
}

/* .lang {
  border: 1px solid #bcbcbc;
} */

.fa-twitter {
  color: #1da1f2;
}

.nav-arrow {
  padding: 0px 0px 0px 15px;
  color: #444444;
}

li {
  display: inline-block;
  padding: 0px 10px;
  cursor: pointer;
}

.links li:hover {
  color: white;
}

.login:hover {
  background-color: #aca7cb;
  color: #464362;
}

.signup:hover {
  background-color: #aca7cb;
  color: #464362;
}

/* font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif; */
